body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(16, 162, 196, 0.8);
    }

.blurred-leaves {
	background-image: URL("../img/blurred-leaves.jpg") !important;
}


nav{
	margin: auto;
	max-width: 600px;
	font-size: 1.2rem;
	text-transform: uppercase;
}

nav ul {
	list-style-type: none;
	display: flex;
	align-content: stretch;
	flex-direction: row;
	justify-content: center;
	margin-block-start: 0em;
	padding-inline-start: 0px;
	
}



nav ul li:hover {
	background-color: none;
}


nav ul li a:hover button{
	text-decoration: ;
	color: blue;
	background-color: none;
}

nav ul li a button {
	font-family: 'Aleo', serif;
	max-width: 100%;
	color: rgba(230,68,0,0.5);
/*	border: 1px solid	rgba(0,162,230,0.5);*/
/*	bord